<div class="container">
  <div class="columns">
    <div class="column col-md-6">
      <form #f="ngForm" (ngSubmit)="save(f.value)">
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input #name="ngModel" type="text" class="form-input"  ngModel name="name" placeholder="Votre nom">
        </div>
        <div class="form-group">
          <label for="Price" class="form-label">Prix</label>
          <div class="input-group">
            <input #price="ngModel" type="number" class="form-input" ngModel name="price" placeholder="Prix">
            <span class="input-group-addon">$</span>
          </div>
        </div>
        <div class="form-group">
          <label for="category" class="form-label">categories</label>
          <select ngModel name="category" id="category" class="form-select">
            <option value="">Choisir une option</option>
            <option *ngFor="let c of categories$ | async" [value]="c.key"> {{ c.payload.val().name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="imageUrl" class="form-label">URL image</label>
          <input #imageUrl="ngModel" ngModel name="imageUrl" type="URL" class="form-input" placeholder="http://votreUrl">
      </div>
        <input type="submit" class="btn btn-primary" value="envoyer">
      </form>
    </div>
    <div class="column col-md-6">
      <div class="card">
        <div class="card-image">
          <img [src]="imageUrl.value" class="img-responsive">
        </div>
        <div class="card-body">
          <div class="card-title h5">{{name.value}}</div>
          <div class="card-subtitle text-gray">{{price.value | currency:"€":true}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
