<p>
  <a routerLink="/admin/products/new" class="btn btn-link">Nouveau produit</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Prix</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products$ | async">
      <td>{{p.payload.val().name}}</td>
      <td>{{p.payload.val().price}}</td>
      <td>
        <a [routerLink]="['/admin/products',p.key]">Edit</a>
      </td>
    </tr>
  </tbody>
</table>